interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/32256646?fields=title%2Cabstract%2Cauthors%2Cvenue%2Cjournal%2Cyear
  response:
    body:
      string: '{"error":"Paper with id 32256646 not found"}

        '
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - RHG4LFUyPHcEYNQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '45'
      x-amzn-Remapped-Date:
      - Thu, 18 Sep 2025 18:39:09 GMT
      x-amzn-Remapped-Server:
      - gunicorn
      x-amzn-RequestId:
      - b05cd1aa-30f6-4dc5-9c20-7e67c53dceef
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.semanticscholar.org/graph/v1/paper/10.1155%2F2020%2F4598217?fields=title%2Cabstract%2Cauthors%2Cvenue%2Cjournal%2Cyear
  response:
    body:
      string: '{"paperId": "6b887ed1ca6b40c5c4a1da8774f19bccbfb8321a", "title": "A
        Prospective Clinical Study of a Prosexual Nutrient: Nano Leo for Evaluation
        of Libido, Erection, and Orgasm in Indian Men with Erectile Dysfunction",
        "venue": "Evidence-Based Complementary and Alternative Medicine", "year":
        2020, "openAccessPdf": {"url": "https://downloads.hindawi.com/journals/ecam/2020/4598217.pdf",
        "status": "HYBRID", "license": "CCBY", "disclaimer": "Notice: Paper or abstract
        available at https://pmc.ncbi.nlm.nih.gov/articles/PMC7086438, which is subject
        to the license by the author or copyright owner provided with this content.
        Please go to the source to verify the license and copyright information for
        your use."}, "journal": {"name": "Evidence-based Complementary and Alternative
        Medicine : eCAM", "volume": "2020"}, "authors": [{"authorId": "50461996",
        "name": "S. N. Shankhwar"}, {"authorId": "3758238", "name": "A. Mahdi"}, {"authorId":
        "2157820373", "name": "A. V. Sharma"}, {"authorId": "1453939285", "name":
        "Kishan Pv"}], "abstract": "Aim The present study aimed to assess the effects
        of Nano Leo, a prosexual nutrient formulation, on libido, erection, and orgasm
        in patients with erectile dysfunction (ED). Methods This was a prospective,
        single-center, phase IV efficacy study. Patients received two capsules for
        7 days and thereafter one capsule through 90 days. Main outcome measures:
        primary endpoint was change in erectile function assessed using the International
        Index of Erect[...]
